.cardlayout{
    margin: 10px;
    padding: 5px;
    width: 350px;
    height: 180px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardlayout:hover{
    transform: scale(1.1);
}
.cardOver{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.cardMiddle{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cardUnder{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}
.grow{
    font-size: 25px;
    flex-grow: 1.3;
}
.minitext{
    font-size: 12px;
}
.deleteBtn{
    height: 30px;
    width: 80px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border-radius: 8px;
}